<html>
<head>
<title>Изменить пароль</title>
<script src={{url_for('static', filename='js/changePassword.js') }}></script>
</head>
<body>
<h1>Изменить пароль</h1>
<p>{{ msg }}</p>
<form action={{url_for('changePassword') }} method="POST" onsubmit="return validate()">
	<p>Old Password: <input type="password" name="старый пароль"></p>
	<p>New Password: <input type="password" name="новый пароль" id="newpassword"></p>
	<p>Confirm Password: <input type="password" name="подтверждение пароля" id="cpassword"></p>
	<input type="submit" value="Сохранить">
</form>
<a href="{{url_for('profileHome') }}">Профиль</a>
</body>
</html>


